  html {
    box-sizing: border-box;
  }

  *, *:before, *:after { 
    box-sizing: inherit; 
  }

  div {
    width:100%;
    padding:100px;
  }

  .one {
    background: #ED7B84;
  }

  .two {
    background: #C8966F;
  }

  .three {
    background: #F92A82;
  }