  html {
    text-align: center;
    box-sizing: border-box;
  }

  *, *:before, *:after { 
    box-sizing: inherit; 
  }

  div {
    width:100%;
    padding:100px;
  }

  .one {
    background: #ED7B84;
  }

  .two {
    background: #DFC8B9;
  }

  .three {
    background: #F92A82;
  }

  button {
    margin: 1em auto;
    background: #F92A82;
    padding: 1em;
    color: #fff;
    border: 1px solid #F92A82;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
  }

  button:hover {
    cursor: pointer;
    background: #fff;
    color: #F92A82;
  }